.back {
    @apply flex justify-end opacity-50 transition-opacity duration-200 absolute w-full py-6 pr-4;
    background-image: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(9,9,9,0) 100%);
}

.back:hover {
    opacity: 1;
}

.back button {
    @apply block ml-3;
}

.modal {
    @apply grid w-11/12 md:w-3/5 lg:w-2/5 rounded-lg overflow-hidden relative;
    background-color: var(--medium-blue);
    grid-template-columns: 220px 1fr;
}

.modal img {
    @apply w-full h-full object-cover hidden sm:block;
    max-width: 220px;
}

.overlay-modal {
    @apply z-20 fixed top-0 bottom-0 left-0 right-0 flex justify-center items-center overflow-auto py-4;
    background-color: rgba(0, 0, 0, 0.8);
}