.content {
    @apply w-full;
    background-color: var(--dark-blue);
}

.toolbar {
    @apply z-10 w-full h-48 sm:h-32 pb-8 pt-8 flex flex-col sm:flex-row items-center sm:justify-between sm:items-end;
    background-image: radial-gradient(circle, var(--dark-blue) 0%, var(--dark-blue) 100%);
    background-size:100% 0%, cover;
    background-position:0 0,center;
    background-repeat:no-repeat;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}

.cards-wrapper {
    @apply grid grid-cols-1 md:grid-cols-2 gap-12 sm:gap-8 pt-32 pb-4 sm:pt-20;
}

.sticky {
    top: -1px;
    transition: .2s;
    position: fixed;
    background-image: radial-gradient(circle, var(--light-blue) 0%, var(--dark-blue) 100%);
    background-size:100% 100%, cover;
}
  
.sticky + .cards-wrapper {
    padding-top: 90px;
}
