
.categories-wrapper {
    @apply flex flex-col justify-center items-center sm:items-start pl-4;
}

.categories-wrapper h1 {
    @apply text-lg;
    color: var(--text-title);
}

.filter {
    @apply mt-2 duration-150 w-auto h-auto px-4 py-1 bg-white rounded-2xl text-center border border-emerald-600;
    color: var(--text-body);
}

.filter:not(.filter.selected-filter):hover {
    @apply text-white;
}

.filter:not(.filter:last-of-type) {
    margin-right: 15px;
}

button.selected-filter {
    @apply bg-emerald-600 text-white;
}